.App-logo {
  object-fit: cover;
  width: 60%;
  height: 300px;
}
.title{
  text-align: left;
  font-family: Nyala, serif;
  font-size: 300%;

}
.navigation
{
  text-align: right;
}

.paper{
  width: 100%;
}

.imageGrid{
  width: 100%;
  height: 50px;
}
.mainGrid{
  font-family: Nyala, serif;
}

.priceBook{
  width: 40%;
}
